pokemons {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

#pokedex-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    margin:auto;
}

#pokemon-filter {
  
}

#line1, #line2 {
  display: flex;
  width: 100%;
}


.chart-container canvas {
  margin:0;
}


.change-page {
  font-family: 'Quicksand', sans-serif;
  background-color: #FBF6D0;
  color: #FF6666;
  font-size: 1.5em; 
  border-radius: 20px;
  border: 5px;
  border-color: #FF6666;
  padding: 10px 50px;
}

.change-page:hover {
  background-color: #FF6666;
  color: #FBF6D0;
}

.next {
    right: 0;
}

#pokemon-name {
    text-decoration: none;
    color: black;
    font-family: 'Handlee', cursive;
}

.buttons {
  margin: 15px auto;
  text-align: center;
}
