pokemons {
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

#pokedex-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    margin:auto;
}

#pokemon-filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}

#pokemon-filter-types {
  position: relative;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pokemon-filter-types-list {
  position: absolute;
  top: 50%;
  background-color: #ffffff;
  margin-top: 10px;
  z-index: 50;
  transition: ease-in-out 0.3s;
  transform-origin: top center;
  transform: scaleY(0);
}

#pokemon-filter-types-list.show {
  display: flex;
  flex-direction: column;
  transform: scaleY(1);
}

#pokemon-filter-name::placeholder {
  color: #FF6666;
  width: auto;
}

#pokemon-filter-name {
  background-color: #FBF6D0;
  color: #FF6666;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  min-width: 215px;
  border-color: #FF6666;
  border: 3px;
  cursor: text;
  position: center;
}

input, #pokemon-filter-types-dropdown-button {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  border: none;
  color: #FBF6D0;
  border-radius: 5px;
  background-color: #FF6666;
  cursor: pointer;

}

label {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
}

#line1, #line2 {
  display: flex;
  width: 100%;
}


.chart-container canvas {
  margin:0;
}


.change-page {
  font-family: 'Quicksand', sans-serif;
  background-color: #FBF6D0;
  color: #FF6666;
  font-size: 1.5em;
  border-radius: 20px;
  border: 5px;
  border-color: #FF6666;
  padding: 10px 50px;
}

.change-page:hover {
  background-color: #FF6666;
  color: #FBF6D0;
}

.next {
    right: 0;
}

#pokemon-name {
    text-decoration: none;
    color: black;
    font-family: 'Handlee', cursive;
}

.buttons {
  margin: 15px auto;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #pokedex-content {
    grid-template-columns: repeat(2, 1fr);
  }

  #pokemon-name{
    font-size: 18px;
  }

  #line1, #line2{
    display: block;
    width: 100%;
  }


}
