team{
  max-width: 1200px;
  display: block;
  margin: auto;
}

.fixedbackground{
  z-index: 998;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
}

.overlay {
  display: flex;
  z-index: 999;
  margin: auto;
  flex-direction: column;
  max-width: 1200px;
}

h1{
  text-align: center;
  color: white;
  font-family: 'Futura-Black';
  font-size: 42px;
  font-weight: bold;
}

pokemons button{
  background: none;
  border: none;
}

.overlay pokemons{
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
}

pokemonpreview{
  position: relative;
  padding: 0!important;
}

button.cancel{
  margin: auto;
  width: 30%;
}

pokemonpreview.empty a{
  width: 100%;
  height: -webkit-fill-available;
  display: flex;
}

pokemonpreview.empty{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 32px;
  min-height: 150px;
}



h2{
  width: 100%;
  font-family: 'Handlee', cursive;
  margin:0;
  padding: 10px 0;
  text-align: center;
}

pokemonpreview button{
  position: absolute;
  top:5px;
  right: 5px;
}

.votre_equipe {
    background-color: #FBF6D0;
    border-radius: 30px;
    color: #FF6666;
    font-size: 2.5em;
    padding: 10px 0;
    width: 50%;
    margin-left: 25%;
}

/*cancel button*/
.cancel {
  font-family: 'Quicksand', sans-serif;
  background-color: #FBF6D0;
  color: #FF6666;
  font-size: 1em;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  cursor: pointer;
}

.cancel:hover {
  background-color: #FF6666;
  color: #FBF6D0;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .overlay pokemons{
    grid-template-columns: 50% 50%;
  }

  pokemonpreview.data-box{
    min-height: 0;
    height: 150px;
    max-height: 20vh;
    padding: 0;
  }

  pokemonpreview img{
    max-height: 70%;
  }

  h2{
    font-size: 16px;
    padding: 3px 0;
  }

  .votre_equipe{
    font-size: 22px;
  }
}
